version: '3.8'
services:
  mongo:
    image: mongo:6
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
  server:
    build: ./server
    env_file: ./server/.env.example
    ports:
      - "5000:5000"
    depends_on:
      - mongo
  client:
    build: ./client
    ports:
      - "3000:3000"
    depends_on:
      - server
volumes:
  mongo-data:
